[Unit]
Description=Samix Technology Website
After=network.target

[Service]
Type=simple
User=evanb
WorkingDirectory=/var/www/samix
ExecStart=/usr/bin/npm run start
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=samix-tech
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
